body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f4f4f9;
  }

  .zoomist-container {
    height:100%;
    width: 100%;
    background-color: yellow;
    text-align:center;
    display:none; /* Temporarily setting this so that we can finish the start/resume screen */
  }

  .zoomist-container img {
    height: 460.8px;
    width: 344px;
    object-fit: contain;
  }

  .zoomist-container div.overlay {
    position:absolute;
    height: 460.8px;
    width: 344px;
    opacity: 0.5;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
  }

  .zoomist-container div.overlay .tiles-container{
    position:relative;
    height: 100%;
    width: 100%;
  }

  .tiles-container .tile {
    position: absolute;
    width: 15.59px;
    height: 13.555px;
    opacity: 0.5;
  }

  div.startOrResumeOverlayBG {
    height: 100%;
    width: 100%;
    position: relative;
    text-align:center;
    display:block;
  }

  div.startOrResumeOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align:center;
    display:block;
    /*
    background-color: rgb(28, 29, 28);
    opacity: 0.2;
    */
    z-index: 1;
  }

  #startResumeButton {
    background-color: green;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    position:absolute;
    left: 50%;
    top: 50%;
    /* transform: translateX(-50%); */
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 1;
  }

  #startResumeButton:hover {
    background-color: #294a2f;
  }

  #messageOverlay {
    background-color: rgba(0, 0, 0, 0.55);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 1;
    padding: 20px;
  }