body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f4f4f9;
  }

  .zoomist-container {
    height:100%;
    width: 100%;
  }

  .zoomist-container img {
    height: 460.8px;
    width: 100%;
    object-fit: contain;
  }

  .zoomist-container div.overlay {
    position:absolute;
    height: 460.8px;
    width: 344px;
    opacity: 0.5;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
  }

  .zoomist-container div.overlay .tiles-container{
    position:relative;
    height: 100%;
    width: 100%;
  }

  .tiles-container .tile {
    position: absolute;
    width: 15.59px;
    height: 13.555px;
    opacity: 0.5;
  }